@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@media (min-width: 640px) {
  /* スクリーン幅が 640px 以上の場合に適用するスタイル */
  .lg:text-center {
    text-align: center;
  }
}

@media (min-width: 768px) {
  /* スクリーン幅が 768px 以上の場合に適用するスタイル */
  .mt-8 {
    margin-top: 2rem;
  }
  .lg:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  /* スクリーン幅が 1024px 以上の場合に適用するスタイル */
  .max-w-2xl {
    max-width: 42rem;
  }
}

@media (min-width: 1280px) {
  /* スクリーン幅が 1280px 以上の場合に適用するスタイル */
  .max-w-7xl {
    max-width: 80rem;
  }
}
